* {
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: bold;
    color: magenta;
    font-size: 30px;
    padding-left: 30px;
    
}

.nav {
    align-items: center;
    display: flex;
    background-color: black;
}

.content, .nav_ {
    flex: 1;
}

.nav_{
    text-align: right;
    display: inline-block;
}

.item {
    font-size: 20px;
    color: magenta;
    padding: 13px;
}

.main {
    background-image: url(../images/pizz.png);
    background-size: cover;
    height: 600px;
    text-align: center;
    color: white;
    padding-top: 200px;
    font-weight: bolder;
}

.main p {
    font-size: 25px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}