* {
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: bold;
    color: magenta;
    font-size: 30px;
    padding-left: 30px;
    
}

.nav {
    align-items: center;
    display: flex;
    background-color: black;
}

.content, .nav_ {
    flex: 1;
}

.nav_{
    text-align: right;
    display: inline-block;
}

.item {
    font-size: 20px;
    color: magenta;
    padding: 13px;
}

.main {
    background-image: url(../images/pizz.png);
    background-size: cover;
    height: 600px;
    text-align: center;
    color: white;
    padding-top: 200px;
    font-weight: bolder;
    padding-left: 400px;
}

.main p {
    font-size: 25px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    color: white;
    background-color: blue;
    size: 200px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.welcome {
    /* background-image: url(../images/background\ -3.png); */
    background-color: maroon;
    height: 600px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.welcome img {
    float: left;
    padding-top: 60px;
}

.welcome h1 {
    padding-top: 100px;
    color: magenta;
    padding-bottom: 20px;
    font-weight: bolder;
}

.welcome p {
    font-size: 26px;
    color: white;
}

.welcome button {
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
}
